<!-- for highlight directive -->
<!-- <input type="text" (input)="onInput($any($event.target).value)"/> <br><br>
<p [appHighlight]="sString" >om namah shivay</p><br>
<p appHighlight [appHighlight]="sString">om namah om shivay shivay</p><br>
<p appHighlight [appHighlight]="sString">om namah shivay om namah</p><br> -->

<!-- routing
<div class="ui secondary pointing menu">
    <a class="item" routerLink="/elements" routerLinkActive="active">
        Elements
    </a>
    <a class="item" routerLink="/collections" routerLinkActive="active">
        Collections
    </a>
    <a class="item">
      Dummy
    </a>
    <div class="right menu">
      <a class="ui item">
        Logout
      </a>
    </div>
  </div>
  <div class="ui segment">
    <router-outlet></router-outlet>
  </div> -->

<!-- chartJs  
<app-chartJS></app-chartJS> -->

<!-- ngx-chart
<app-ngx-chart></app-ngx-chart> -->

<app-map-demo></app-map-demo>